---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCIE = [
  {
    date: "Noviembre 2023 - Febrero 2024",
    title: "Freelancer",
    description:
      "Responsable de diseño, estrategia y utilidades para la creación y desarrollo de aplicaciones. ",
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
